<?xml version="1.0" ?>

<robot name="terraflight" xmlns:xacro="http://wiki.ros.org/wiki/xacro">

<material name="grey">
    <color rgba="0.7529 0.7529 0.7529 1.0"/>
</material>


<!-- Once I get a map/odom fixed frame (which is fixed to 0,0,0), I will want to both make the base_footprint directly underneath
the chassis, and also offset the chassis spawning location -->

<link name="base_footprint"/>

<joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="chassis"/>
    <origin xyz="0.254 0.0 0.1226125" rpy="0 0 3.141592653589"/>
</joint>

<link name="chassis">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <mesh filename="package://terraflight_description/meshes/chassis.stl" scale="1 1 1"/>
        </geometry>
        <material name="grey" />
    </visual>
</link>

</robot>